# user {{ nginx_user_name }};
#worker_processes 1;

# error_log  /var/logs/nginx/error.log warn;
# pid /var/run/nginx.pid;

events {
  worker_connections  1024;
}

http {
    include /etc/nginx/mime.types;
    default_type    application/octet-stream;
    
    server {
        listen       80;
        location / {
            root /usr/share/nginx/html;
            index  index.html;
        }
    }
}